body{
	background-color: #888888;
	margin: 0px;
	padding: 0px;
	}
header{
	text-align: center;
	background-color: #888888; 
	border-radius: 0px 0px 20px 20px;
	box-shadow: 2.5px 5px #696969;
	border-style: ridge;
	border-top-style: none;
}



footer {
	/* position: absolute; */
	bottom: 0;
	height: auto;

	background-color: #888888; 
	border-radius: 20px 20px 0px 0px;
	border-style: ridge;
	border-bottom-style: none;
	text-align: center;
	width: 100%;
}
footer ul li{
	list-style: none;
	display: inline;
	padding: 0px 5px;
}

/* #map { height: 180px; } */